body {
  background-color: #282c34;
}

.header {
  text-align: center;
  padding-top: 1rem;
  color: Cornsilk;
}
.landskap-text {
  color: antiquewhite;
  font-size: large;
}

.left-div {
  width: 20rem;
  color: Cornsilk;
  text-align: center;
}

.left-div h1 {
  height: 2em;
}
.landskap-div {
  margin-top: 0;
}
.right-div {
  width: 20rem;
  color: Cornsilk;
  text-align: center;
}
.wrapper {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
header {
  height: 10vh;
}
footer {
  height: 10vh;
}
path:active{
  fill-opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  .header {
    display: none;
  }
  .left-div h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .status h2 {
    margin-top: 0;
  }
}

/* @keyframes App-logo-spin {
  from {50
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
