.App {
  background-color: #282c34;
  height: 100vh;
}

.landskap-text {
  color: antiquewhite;
  font-size: large;
}
.landskap-div {

}
.wrapper {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
header {
  height: 15vh;
}
footer {
  height: 15vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

/* @keyframes App-logo-spin {
  from {50
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
